a{
    text-decoration: none;
    color: white;
}

a:hover{
    color: orange;
}
/*1 страница*/
.dekstop-1{
    width: 1440px;
    height: 1024px;
    background-image: url("images/fon_on_1.jpg");
    background-repeat: no-repeat;         /* не повторять */             /* масштабировать, чтобы покрыть весь экран */
    background-position: center center;   /* центрировать */
    background-attachment: fixed;        /* фон остаётся на месте при прокрутке */
}

.iphone{
    width: 500px;
    height: 888px;
    position: relative;
    left: 865px;
    bottom: 675px;
}

.cabel{
    width: 130px;
    height: 130px;
    position: absolute;
    top:915px;
    left:1032px;
}

.words_1{
    width: 300px;
    height: 63px;
    position: relative;
    top: 690px;
    left: 100px;
    font-family: "Istok Web, sans-serif";
    font-weight: 400;
    color: white;
    font-style: Regular;
    font-size: 24px;
    line-height: 100%;
    letter-spacing: 0%;
}

.MusicPlayer{
    width: 412px;
    height: 264px;
    position: relative;
    bottom: 15px;
    left: 100px;
    color: white;
    font-family: "Kenia, sans-serif";
    font-weight: 400;
    font-style: Regular;
    font-size: 150px;
    line-height: 100%;
    letter-spacing: 0%;
}
/*навигация*/
.deks_menu{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.nav_list{
    display: flex;
    flex-wrap: wrap;
    padding: 0;
    margin: 0;
}

.mp{
    position: relative;
    right: 440px;
    top:10px;
    font-size: 30px;
    width: 160px;
}

.Home{
    position: relative;
    right: 200px;
    top:50px;
    font-size: 20px;  
}

.Music{
    position: relative;
    right: 100px;
    top:50px;
    font-size: 20px;  
}

.About{
    position: relative;
    right: 0px;
    top:50px;
    font-size: 20px;  
}

.Store{
    position: relative;
    left: 100px;
    top: 50px;
    font-size: 20px;  
}

/*2 страница*/
.dekstop-2{
    width: 1440px;
    height: 1024px;
    top: 1024px;
    background: rgba(213, 48, 5, 1);
}

.disk{
    width: 1000px;
    height: 666.5px;
    position: relative;
    top: 15px;
    left: 440px;
}

.mus{
    width: 84px;
    height: 35px;
    position: relative;
    top: 83px;
    left: 122px;
    font-family: "Karla, sans-serif";
    font-weight: 400;
    font-style: Regular;
    font-size: 30px;
    line-height: 100%;
    letter-spacing: 0%;
    color: white;
}

.listen{
    width: 382px;
    height: 83px;
    position: relative;
    top: 300px;
    left: 105px;
    background: radial-gradient(98.43% 2084.95% at 1.57% 7.83%, #B13E18 0%, #F3501A 100%);
    font-family: "Karla, sans-serif";
    font-weight: 400;
    font-style: Regular;
    font-size: 40px;
    color: white;
    line-height: 100%;
    letter-spacing: 0%;
    box-shadow: 5px 7px 15px rgba(0, 0, 0, 0.9);
}

.song{
    width: 382px;
    height: 83px;
    position: relative;
    top: 460px;
    right: 279px;
    background: radial-gradient(98.43% 2084.95% at 1.57% 7.83%, #B13E18 0%, #F3501A 100%);
    font-family: "Karla, sans-serif";
    font-weight: 400;
    font-style: Regular;
    font-size: 40px;
    color: white;
    line-height: 100%;
    letter-spacing: 0%;
    box-shadow: 5px 7px 15px rgba(0, 0, 0, 0.9);
}

/*3 страница*/
.dekstop-3{
    width: 1440px;
    height: 1024px;
    top: 2048px;
    background: linear-gradient(180deg, #D53005 0%, #000000 6.04%);
}

.Abouts{
    position: relative;
    width: 81px;
    height: 35px;
    color: white;
    top: 53px;
    left: 70px;
    font-family: "Karla, sans-serif";
    font-weight: 400;
    font-size: 30px;
    line-height: 100%;
    letter-spacing: 0%;
}

.words_3{
    position: relative;
    width: 912px;
    height: 72px;
    top: 476px;
    left: 275px;
    color: white;
    font-family: "Karla, sans-serif";
    font-weight: 400;
    font-style: Regular;
    font-size: 30px;
    line-height: 100%;
    letter-spacing: 0%;
}
/*4 страница*/

.Stores{
    position: relative;
    left: 100px;
    top:50px;
    font-size: 30px;  
    color: white;
    font-family: "Karla";
    font-weight: 400;
    font-style: Regular;
    font-size: 30px;
    line-height: 100%;
    letter-spacing: 0%;

}

.dekstop-4{
    width: 1440px;
    height: 1024px;
    background: rgba(213, 48, 5, 1);
}

.photo-1{
    width: 104.31px;
    height: 104.31px;
    position: relative;
}

.photo-2{
    width: 104.31px;
    height: 104.31px;
    position: relative;
}

.need{
    width: 419px;
    height: 28px;
    position: relative;
    top: 457px;
    left: 35px;
    font-family: Montserrat;
    font-weight: 600;
    font-style: Bold;
    font-size: 21px;
    line-height: 100%;
    letter-spacing: 0%;
    color: white;
}

.made{
    width: 350px;
    height: 110px;
    position: relative;
    top: 452px;
    left: 35px;
    font-family: "Montserrat";
    font-weight: 400;
    font-style: Regular;
    font-size: 18px;
    line-height: 100%;
    letter-spacing: 0%;
    text-align: center;
    color: white;
}

.take{
    width: 440px;
    height: 110px;
    position: relative;
    top: 373px;
    left: 55px;
    font-family: "Montserrat";
    font-weight: 400;
    font-style: Regular;
    font-size: 18px;
    line-height: 100%;
    letter-spacing: 0%;
    text-align: center;
    color: #000000;
    text-decoration-line: underline;
}

.mac{
    width: 200px;
    height: 50px;
    position: relative;
    top: 29px;
    right: 408px;
    border-radius: 50px;
    font-family: "Montserrat";
    font-weight: 400;
    font-style: Regular;
    font-size: 20px;
    line-height: 100%;
    letter-spacing: 0%;

}

.win{
    width: 200px;
    height: 50px;
    position: relative;
    background-color: #000000;
    color: white;
    bottom: 55px;
    right: 204px;
    border-radius: 50px;
    font-family: "Montserrat";
    font-weight: 400;
    font-style: Regular;
    font-size: 20px;
    line-height: 100%;
    letter-spacing: 0%;
}

.laptop_menu{
    width: 885px;
    height: 583px;
    position: absolute;
    top: 3281px;
    left: 403px;
    background: linear-gradient(270deg, #484D54 0%, #343B43 100%);
    border:30px solid black;
    border-bottom: 20px solid rgba(74, 85, 104, 1);
    border-radius: 20px;
}

.pro{
    position: absolute;
    top: 567px;
    left: 403px;
    color: white;
}

.keysboard{
    width: 1168.3248291015625px;
    height: 20.862943649291992px;
    background: linear-gradient(0deg, #A3ACB1, #A3ACB1),
linear-gradient(90deg, #0D1012 0%, #CAD4DB 2.95%, #242729 6.25%, #A3ACB1 13.36%, #A3ACB1 86.6%, #242729 94.19%, #CAD4DB 97.13%, #0D1012 99.64%);
    position: relative;
    top: 446px;
    left: 288px;
    border-top-left-radius: 2px;
    border-top-right-radius: 2px;
}

.music_laptop{
    width:100px;
    height: 70px;
    font-family: "Montserrat";
    font-weight: 400;
    color: white;
    border-bottom: 2px solid black;
    border-right: 2px solid black;
    font-size: 20px;
    line-height: 100%;
    letter-spacing: 0%;
    text-align: center;
    align-items: center;
    display: flex;
}

.women_foto{
    width:785px;
    height: 70px;
    border-bottom: 2px solid black;
    border-right: 2px solid black;
    border-left: 2px solid black;
    position: relative;
    bottom:72px;
    left: 100px;
}

.woman{
    width: 70.95262145996094px;
    height: 60.95262145996094px;
    border-width: 5px;
    border-radius: 50px;
    position: relative;
    left: 40px;
    top:5px;
}

.poisk{
    width: 100px;
    height: 511px;
    border-right: 2px solid black;
    position: relative;
    bottom: 72px;
}

.proektor{
    width:785px;
    height: 70px;
    border-top: 2px solid black;
    border-right: 25px solid black;
    border-left: 2px solid black;
    position: relative;
    bottom:582px;
    left: 100px;
}

.grey_poisk{
    width:86px;
    height: 16px;
    border-radius: 20px;
    background-color: #343B43;
    color: black;
}

.catalog_1{
    width:94px;
    height: 20px;
    border-radius: 10px;
    background: rgba(255, 0, 0, 0.2);
    color: white;
    position: relative;
    top:30px;
}

.catalog_2{
    width:94px;
    height: 20px;
    border-radius: 10px;
    background: rgba(5, 255, 0, 0.2);
    color: white;
    position: relative;
    top:50px;
}

.catalog_3{
    width:94px;
    height: 20px;
    border-radius: 10px;
    background: rgba(5, 0, 255, 0.2);
    color: white;
    position: relative;
    top:70px;
}

.catalog_4{
    width:94px;
    height: 20px;
    border-radius: 10px;
    background: rgba(255, 230, 0, 0.2);
    color: white;
    position: relative;
    top: 90px;
}

.catalog_5{
    width:94px;
    height: 20px;
    border-radius: 10px;
    background: rgba(255, 0, 199, 0.3);
    color: white;
    position: relative;
    top: 130px;
}

.set-1{
    width: 30px;
    position: relative;
    top: 35px;
    left: 40px;
}

.set-2{
    width: 30px;
    position: relative;
    top: 35px;
    left: 60px;
}

.set-3{
    width: 30px;
    position: relative;
    top: 35px;
    left: 80px;
}

.polosa{
    width: 282.8088073730469px;
    height: 6.954314708709717px;
    position: relative;
    background-color: black;
    left: 440px;
    top: 15px;
    border-radius: 5px;
}

.grom{
    width: 217.90185546875px;
    height: 5.795262336730957px;
    position: relative;
    background: linear-gradient(90deg, #04D425 28.48%, #471CF3 98.17%);
    border-radius: 5px;
}

.tochka{
    width: 11.590524673461914px;
    height: 11.590524673461914px;
    background: rgba(63, 50, 219, 1);
    position: relative;
    left:217px;
    bottom: 4px;
    border: 3px solid rgba(38, 42, 47, 1);
    border-radius: 5px;
}

.pause{
    width: 52.1573600769043px;
    height: 52.1573600769043px;
    position: relative;
    background: linear-gradient(137.37deg, #D22D03 15.6%, #F6541D 82.94%);
    border-width: 2px;
    border-radius: 30px;
    font-size: 16px;
    left: 280px;
    bottom: 20px;
}

.pause_1{
    width: 4.3181049823760986px;
    height: 15.590524673461914px;
    background-color: white;
    border-radius: 10px;
    position: relative;
    left:10px;
    top:8px;
}

.pause_2{
    width: 4.3181049823760986px;
    height: 15.590524673461914px;
    background-color: white;
    border-radius: 10px;
    position: relative;
    left: 20px;
    bottom: 7px;
}

.back{
    width: 52.1573600769043px;
    height: 52.1573600769043px;
    position: relative;
    background: linear-gradient(137.37deg, #4E5256 15.6%, rgba(19, 23, 27, 0) 82.94%);
    border-width: 2px;
    border-radius: 30px;
    font-size: 16px;
    left: 160px;
    bottom: 36px;
}

.up{
    width: 52.1573600769043px;
    height: 52.1573600769043px;
    position: relative;
    background: linear-gradient(137.37deg, #4E5256 15.6%, rgba(19, 23, 27, 0) 82.94%);
    border-width: 2px;
    border-radius: 30px;
    font-size: 16px;
    left: 230px;
    bottom: 36px;
}

.str{
    rotate: 180deg;
}

.poloska{
    width: 606.1844482421875px;
    height: 9.272419929504395px;
    position: relative;
    background-color: black;
    left: 140px;
    bottom: 75px;
}

.grom-2{
    width: 217.90185546875px;
    height: 9.272419929504395px;
    position: relative;
    background: linear-gradient(90deg, #D42F04 28.48%, #F3511C 98.17%);
    position: relative;
    left: 140px;
    bottom: 84px;
}

.tochka-2{
    width: 11.590524673461914px;
    height: 11.590524673461914px;
    background: rgba(231, 176, 40, 1);
    position: relative;
    left:345px;
    bottom: 98px;
    border: 5px solid rgba(38, 42, 47, 1);
    border-radius: 20px;
}

.artist{
    width:150px;
    color: white;
    position: relative;
    bottom: 70px;
    left: 350px;
}

.music_proektor_1{
    width:781px;
    height: 410px;
    background: linear-gradient(270deg, #484D54 0%, #343B43 100%);
    position: relative;
    bottom: 583px;
    left: 103px;
}

.music_line_1{
    width: 104px;
    padding: 15px;
    position: relative;
    left: 45px;
    top: 50px;
}

.music_line_2{
    width: 104px;
    padding: 15px;
    position: relative;
    left: 45px;
    top: 80px;
}

.f_1{
    width:31px;
    height: 12px;
    position: relative;
    bottom: 90px;
    right: 630px;
    font-size: 9px;
}

.f_2{
    width:120px;
    height: 12px;
    position: relative;
    bottom: 90px;
    right: 520px;
    font-size: 9px;
}

.f_3{
    width:120px;
    height: 12px;
    position: relative;
    bottom: 110PX;
    left: 336px;
    font-size: 9px;
}

.f_4{
    width:120px;
    height: 12px;
    position: relative;
    bottom: 110px;
    left: 404px;
    font-size: 9px;
}

.f_5{
    width:120px;
    height: 12px;
    position: relative;
    bottom: 110px;
    left: 468px;
    font-size: 9px;
}

.f_6{
    width:120px;
    height: 12px;
    position: relative;
    top: 60px;
    right: 143px;
    font-size: 9px;
}

.f_7{
    width:120px;
    height: 12px;
    position: relative;
    top: 60px;
    right: 35px;
    font-size: 9px;
}

.f_8{
    width:120px;
    height: 12px;
    position: relative;
    top: 60px;
    left: 73px;
    font-size: 9px;
}

.f_9{
    width:120px;
    height: 12px;
    position: relative;
    top: 60px;
    left: 160px;
    font-size: 9px;
}

.f_10{
    width:120px;
    height: 12px;
    position: relative;
    top: 60px;
    left: 263px;
    font-size: 9px;
}

.f_1_1{
    width:31px;
    height: 12px;
    position: relative;
    bottom: 95px;
    right: 353px;
    font-size: 9px;
}

.f_2_1{
    width:120px;
    height: 12px;
    position: relative;
    bottom: 95px;
    right: 275px;
    font-size: 9px;
}

.f_3_1{
    width:120px;
    height: 12px;
    position: relative;
    bottom: 95PX;
    right: 199px;
    font-size: 9px;
}

.f_4_1{
    width:120px;
    height: 12px;
    position: relative;
    bottom: 95px;
    right: 94px;
    font-size: 9px;
}

.f_5_1{
    width:120px;
    height: 12px;
    position: relative;
    bottom: 95px;
    right: 48px;
    font-size: 9px;
}

.f_6_1{
    width:120px;
    height: 12px;
    position: relative;
    top: 75px;
    right: 631px;
    font-size: 9px;
}

.f_7_1{
    width:120px;
    height: 12px;
    position: relative;
    top: 75px;
    right: 525px;
    font-size: 9px;
}

.f_8_1{
    width:120px;
    height: 12px;
    position: relative;
    top: 58px;
    left: 336px;
    font-size: 9px;
}

.f_9_1{
    width:120px;
    height: 12px;
    position: relative;
    top: 58px;
    left: 440px;
    font-size: 9px;
}

.f_10_1{
    width:120px;
    height: 12px;
    position: relative;
    top: 58px;
    left: 539px;
    font-size: 9px;
}
/*5 страница*/
.dekstop-5{
    width: 1440px;
    height: 536px;
    background: linear-gradient(180deg, #D53005 0%, #000000 4.01%);
    top: 4096px;
}

.column_3{
    width: 256px;
    height: 108px;
    position: relative;
    top: 120px;
    left: 1122px;
    padding: 20px;
    
}

.column_3_content{
    font-family: "Montserrat";
    font-weight: 600;
    font-style: Bold;
    font-size: 20px;
    line-height: 100%;
    letter-spacing: 0%;
}

.column_3_word_1{
    font-family: "Montserrat";
    font-weight: 400;
    font-style: Bold;
    font-size: 16px;
    line-height: 100%;
    letter-spacing: 0%;
    position: relative;
    top: 20px;
}

.column_3_word_2{
    font-family: "Montserrat";
    font-weight: 400;
    font-style: Bold;
    font-size: 16px;
    line-height: 100%;
    letter-spacing: 0%;
    position: relative;
    top: 40px;
}

.column_2{
    width: 256px;
    height: 148px;
    position: relative;
    bottom: 46px;
    left: 800px;
    padding: 20px;
}

.column_2_content{
    font-family: "Montserrat";
    font-weight: 600;
    font-style: Bold;
    font-size: 20px;
    line-height: 100%;
    letter-spacing: 0%;
}

.column_2_word_1{
    font-family: "Montserrat";
    font-weight: 400;
    font-style: Bold;
    font-size: 16px;
    line-height: 100%;
    letter-spacing: 0%;
    position: relative;
    top: 20px;
}

.column_2_word_2{
    font-family: "Montserrat";
    font-weight: 400;
    font-style: Bold;
    font-size: 16px;
    line-height: 100%;
    letter-spacing: 0%;
    position: relative;
    top: 40px;
}

.column_2_word_3{
    font-family: "Montserrat";
    font-weight: 400;
    font-style: Bold;
    font-size: 16px;
    line-height: 100%;
    letter-spacing: 0%;
    position: relative;
    top: 60px;
}

.column_1{
    width: 256px;
    height: 148px;
    position: relative;
    bottom: 253px;
    left: 500px;
    padding: 20px;
}

.column_1_content{
    font-family: "Montserrat";
    font-weight: 600;
    font-style: Bold;
    font-size: 20px;
    line-height: 100%;
    letter-spacing: 0%;
}

.column_1_word_1{
    font-family: "Montserrat";
    font-weight: 400;
    font-style: Bold;
    font-size: 16px;
    line-height: 100%;
    letter-spacing: 0%;
    position: relative;
    top: 20px;
}

.column_1_word_2{
    font-family: "Montserrat";
    font-weight: 400;
    font-style: Bold;
    font-size: 16px;
    line-height: 100%;
    letter-spacing: 0%;
    position: relative;
    top: 40px;
}

.column_1_word_3{
    font-family: "Montserrat";
    font-weight: 400;
    font-style: Bold;
    font-size: 16px;
    line-height: 100%;
    letter-spacing: 0%;
    position: relative;
    top: 60px;
}

.MUSIC{
    width: 138px;
    height: 100px;
    position: relative;
    color: white;
    bottom: 250px;
    left: 110px;
    font-family: "Kenia";
    font-weight: 400;
    font-style: Regular;
    font-size: 50px;
    line-height: 100%;
    letter-spacing: 0%;
}

.row{
    display: flex;
    flex-wrap: wrap;
    padding: 0;
    margin: 0;
    position: relative;
    bottom:300px;
    left: 110px;
    font-size: 15px;
}

.isp{
    position: relative;
    left: 110px;
    font-size: 15px;
}

.shop{
    position: relative;
    left: 220px;
    font-size: 15px;
}

.inf{
    position: relative;
    left: 330px;
    font-size: 15px;
}
